{% load i18n static %}

<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img class="logo-icon"
                src="https://cdn-ru.bitrix24.ru/b13049348/bitrix24/89b/89b1c30f2e5c56d978efed652fa55b7a/logo_VrI4ahUF.png"
                alt="">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
            aria-controls="navbarScroll" aria-expanded="false" aria-label="Переключатель навигации">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
            <form class="d-flex searche-form" role="search">
                <input class="form-control me-2" type="search" placeholder="search" aria-label="search">
                <button class="btn btn-outline-success" type="submit">{% translate 'Search' %}</button>
            </form>
            <ul class="nav nav-underline navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll"
                style="--bs-scroll-height: 100px;">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">{% translate 'Handbook' %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">{% translate 'Bitrix' %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">{% translate 'About' %}</a>
                </li>
            </ul>
            {% if user.is_authenticated %}
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        {% translate 'Personal account' %}
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">{% translate 'Edit a profile' %}</a></li>
                        {% if user.is_staff %}
                        <li><a class="dropdown-item" href="{% url 'admin:index' %}">{% translate 'Administration' %}</a></li>
                        {% endif %}
                        <li><a class="dropdown-item" href="#">{% translate 'Log out' %}</a></li>
                    </ul>
                </div>
            {% else %}
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a class="nav-link me-2 not-auth" href="#">{% translate 'Sign in' %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link not-auth" href="#">{% translate 'Sign up' %}</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
