{% extends 'base/base.html' %}
{% load i18n static %}

{% block content %}
<div class="device-create"> 
<div class="position-absolute top-50 start-50 translate-middle auth-content">
    <div class="signin-form ">
        <div class="modal-header auth-header">
            <h2 class="modal-title auth-title h4">{{ title }}</h2>
            <a style="padding: 15px" href="{% url 'project:product-detail' slug %}" type="button"
                class="btn-close position-absolute top-0 end-0"></a>
        </div>
        {% include "form_create/form_create.html" %}
    </div>
</div>
</div>
{% endblock %}