{% extends 'base/base.html' %}
{% load i18n static %}
{% load devices_tag %}

<!-- Хлебные крошки -->
{% block breadcrumbs %}
{% project_breadcrumb slug as product %}
<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'project:index' %}">Главная</a></li>
        <li class="breadcrumb-item active " aria-current="page">
            <a href="{% url 'project:id_crm-detail' product.crm_id %}">
                ID-CRM {{ product.crm_id }}
            </a>
        </li>
        <li class="breadcrumb-item active " aria-current="page">
            <a href="{% url 'project:product-detail' product.slug %}">
            {{ product.project }}
            </a>
        </li>
        <li class="breadcrumb-item active " aria-current="page">Новое устройство</li>
    </ol>
</nav>
{% endblock %}


{% block content %}
<div class="device-create"> 
<div class="position-absolute top-50 start-50 translate-middle auth-content">
    <div class="signin-form ">
        <div class="modal-header auth-header">
            <h2 class="modal-title auth-title h4">{{ title }}</h2>
            <a style="padding: 15px" href="{% url 'project:product-detail' slug %}" type="button"
                class="btn-close position-absolute top-0 end-0"></a>
        </div>
        {% include "form_create/form_create.html" %}
    </div>
</div>
</div>
{% endblock %}