{% extends 'base/base.html' %}
{% load i18n static %}

<!-- Хлебные крошки -->
{% block breadcrumbs %}
<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'project:index' %}">Главная</a></li>
        <li class="breadcrumb-item active " aria-current="page"><a
                href="{%  url 'project:product-detail' device.project_id.slug %}">{{ device.project_id.project }}</a>
        </li>
        <li class="breadcrumb-item active " aria-current="page">{{ device.name }}</li>
    </ol>
</nav>
{% endblock %}

{% block content %}
<div class="container">
    <div class="flex device-title">
        <h2>{{ device.name }} - № {{ device.serial_num }}</h2>
        <span>ID - {{ device.project_id.crm_id }}</span>
    </div>
    <strong class="strong">Сетевые параметры</strong>
    <div class="flex setting-content">
        <table class="table table-light table-hover caption-top table-setting">
            <thead>
                <tr>
                    <th scope="col">Наименование</th>
                    <th scope="col">Значение</th>
                </tr>
            </thead>
            {% with device.devices_settings.first as set %}
            <tbody>
                <tr>
                    <td>Наименование по РКД:</td>
                    <td>{{ device.designation }}</td>
                </tr>
                <tr>
                    <td>Протокол:</td>
                    <td>{{ device.network_id.first.name }}</td>
                </tr>
                {% if "485" in device.network_id.first.name %}
                <tr>
                    <td>Slave ID:</td>
                    <td>{% if set.slave_id %}{{ set.slave_id }}{% else %}--{% endif %}</td>
                </tr>
                <tr>
                    <td>Speed:</td>
                    <td>{% if set.speed %}{{ set.speed }} b/s{% else %}--{% endif %}</td>
                </tr>
                <tr>
                    <td>Paritet:</td>
                    <td>{% if set.get_paritet_display %}{{ set.get_paritet_display }}{% else %}--{% endif %}</td>
                </tr>
                <tr>
                    <td>Bits:</td>
                    <td>{% if set.bit %}{{ set.bit }}{% else %}--{% endif %}</td>
                </tr>
                <tr>
                    <td>Stop bit:</td>
                    <td>{% if set.stop_bit %}{{ set.stop_bit }}{% else %}--{% endif %}</td>
                </tr>
                {% else %}
                <td>IP Address:</td>
                <td>{% if set.ip_address %}{{ set.ip_address }}{% else %}--{% endif %}</td>
                </tr>
                <tr>
                    <td>Mask:</td>
                    <td>{% if set.mask %}{{ set.mask }}{% else %}--{% endif %}</td>
                </tr>
                <tr>
                    <td>Gateway:</td>
                    <td>{% if set.gateway %}{{ set.gateway }}{% else %}--{% endif %}</td>
                </tr>
                {% endif %}
            </tbody>
            {% endwith %}
        </table>
        <div class="setting-info">
            <div class="container overflow-hidden text-center">
                <div class="row gy-5">
                    <div class="col-6">
                        <div class="p-3"><strong>Бренд производителя</strong></div>
                    </div>
                    <a href="" style="text-decoration: none; margin-top: 10px;">
                        <div class="setting-title">
                            <span class="h5">{{ device.brand_id.name }}</span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="container overflow-hidden text-center">
                <div class="row gy-5">
                    {% if device.devices.all %}
                    <div class="col-6">
                        <div class="p-2"><strong>Карта датчиков</strong></div>
                    </div>
                    <!-- Кнопка-триггер модального окна -->
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Открыть список датчиков
                    </button>
                    {% endif %}
                    <div class="col-6">
                        <div class="p-2"><strong>Настроить {{ device }}</strong></div>
                    </div>
                    <a type="button" class="btn btn-primary" href="#">
                        Настроить сетевые параметры
                    </a>
                    <!-- Модальное окно -->
                    <div class="modal fade " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog  modal-dialog-scrollable">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">{{ device }}</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Закрыть"></button>
                                </div>
                                <div class="modal-body">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th scope="col">По РКД</th>
                                                <th scope="col">Назначение</th>
                                                <th scope="col">ID</th>
                                                <th scope="col">Серийный №</th>
                                                <th scope="col">Колонна №</th>
                                            </tr>
                                        </thead>
                                        {% for sensor in device.devices.all %}
                                        <tbody>
                                            <tr>
                                                <td class="setting-color" id="{{ sensor.description }}">
                                                    {{ sensor.name_rkd }}
                                                </td>
                                                <td class="setting-color" id="{{ sensor.description }}">
                                                    {{ sensor.group }}
                                                </td>
                                                <td class="setting-color" id="{{ sensor.description }}">
                                                    {{ sensor.register }}
                                                </td>
                                                <td class="setting-color" id="{{ sensor.description }}">
                                                    {{ sensor.serial_number }}
                                                </td>
                                                <td class="setting-color" id="{{ sensor.description }}">
                                                    {{ sensor.install }}
                                                </td>
                                            </tr>
                                        </tbody>
                                        {% endfor %}
                                    </table>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">OK</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}