body {
    background-color: #d7e3ed !important;
}

@font-face {
    font-family: 'WolgadeutscheRegular';
    src: url(../fonts/Wolgadeutsche.ttf);
    font-size: 1.3em;

}

@font-face {
    font-family: 'Zt Chablis Regular';
    src: url(../fonts/ZtChablisRegular.ttf);
}

@font-face {
    font-family: 'Zt Chablis Bolt Show';
    src: url(../fonts/ZtChablisBoldSlow.ttf);
}

.navbar-nav .nav-link {
    font-family: 'Zt Chablis Regular', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
}

.flex {
    display: flex;
}

.breadcrumb-item, ol {
    padding-left: 15px;
    padding-bottom: 5px;
    color: black;
    background-color: #afd9fdf8 !important;
}

.navbar-nav .dropdown-menu {
    right: 0;
    left: auto !important;
}

.top-menu li a::after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    transition: all .3s;
    transform: scale(0);
}

.top-menu li a:hover:after {
    transform: scale(1);
}

.dropdown .btn {
    background-color: rgb(248 249 250);
    border: none;
}

.dropdown-item:hover {
    color: var(--bs-green) !important;
}

.dropdown .termo {
    color: black;
}

.auth {
    color: rgb(173, 182, 187) !important;
    background-color: rgb(201, 224, 240) !important;
}

.btn .profile {
    color: black;
}

.project-link {
    color: #e13309;
    text-decoration: auto;
    font-weight: 600;
}

.project-link:hover {
    border-bottom: 1px solid deepskyblue;
}

.profile:hover {
    color: rgba(255, 255, 255, 0.753);
}

.logo-icon {
    max-width: 200px;
    padding-left: 30px;
}

.icon-disabled {
    background-color: #e13309 !important;
    background-image: url("../icon/icon-minus.png") !important;
}

.searche-form {
    margin-left: auto !important;
    margin-right: auto !important;
}

/*======== Form ==========*/

.form-auth {
    padding: 5px 15px;
}

.wrapper {
    margin: 10em 0;
}

.auth-content {
    width: 600px;
}

.signin-form {
    position: relative;
    max-width: 100%;
    margin: auto;
    padding: 20px 0;
    outline: 1px solid black;
    border-radius: 10px;
    background-color: #f4f5f5;
    box-shadow: 3px 5px 16px #656b6db8, -3px -3px 16px #656b6db8;
}

.form-input {
    width: 100%;
    height: 23px;
    border: none;
    border-bottom: 1px solid;
}

.form-group .alert {
    padding: 3px 8px !important;
}

.form-group select {
    width: 100%;
    height: 23px;
    border: none;
    border-bottom: 1px solid;
}

.signin-form .input {
    width: 30%;
    padding: 5px 0;
    margin: 5px 0;
}

.signin-form .auth-header {
    margin: auto 0;
    flex-direction: column;
}

.signin-form .auth-title-help {
    color: #63676b47;
}

.signin-form .form-footer {
    justify-content: space-between;
    align-items: center;
}

.form-footer label {
    padding: 0 10px;
    margin-right: 10px;
}

.btn-justify, .instr-header {
    justify-content: space-between !important;
}

.instr-header {
    align-items: center;
}

.jc-centr {
    justify-content: center;
}

.device-title {
    max-width: 90%;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;
    font-weight: 500;
}

.device-title span {
    margin-bottom: 8px;
}

.device-title img {
    position: relative;
    top: -15px;
    left: 10px;
    padding-left: 9px;
}

/* ========== */

.termo-check, .auth-header {
    justify-content: center;
}

.table .product-list {
    font-family: 'Zt Chablis Bolt Show', sans-serif;
    font-size: 1.2em;
}

.device-create, .form-footer {
    font-size: 13px;
}

/* =================== Settings Info ==================== */

.strong {
    padding-bottom: 20px;
}

.table-setting {
    max-width: 60%;
    margin-top: 20px;
    margin-right: 25px;
}

.setting-title {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    padding: 10px 10px !important;
    border-top: 1px solid;
    border-bottom: 1px solid;
    color: chocolate;
    font-family: 'Zt Chablis Regular', sans-serif;
    font-weight: 600;
    text-transform: uppercase;}

.setting-info {
    padding: 10px 25px;
}

.setting-info button {
    margin-top: 15px;
}

.setting-info a {
    margin-top: 15px;
}


.text-bg-yellow {
    background-color: var(--bs-yellow) !important;
}

.text-bg-green {
    background-color: var(--bs-green) !important;
}

.text-bg-red {
    background-color: var(--bs-red) !important;
}

.text-bg-blue {
    background-color: var(--bs-blue) !important;
}



/* ================== data- pass ============ */

.data-empty {
    width: 20em;
}