/* body {
    background-color: black;
} */

.flex{
    display: flex;
}

.breadcrumb-item, ol{
    padding-left: 15px;
    padding-bottom: 5px;
    color: black;
    background-color: #afd9fdf8 !important;
}

.not-auth {
    color: black !important;
    background-color: rgb(133, 150, 167) !important;
}

.logo-icon{
    max-width: 200px;
    padding-left: 30px;
}

.searche-form{
    margin-left: auto !important;
    margin-right: auto !important;
}

