/* body {
    background-color: black;
} */

.breadcrumb-item, ol{
    width: 100%;
    color: black;
    background-color: #0089ff7a;
}

.auth {
    color: black !important;
    background-color: rgb(133, 150, 167) !important;
}

.logo-icon{
    max-width: 175px;
    padding-left: 50px;
}

.searche-form{
    margin-left: auto !important;
    margin-right: auto !important;
}

