{% extends 'base/base.html' %}
{% load i18n static %}

{% block content %}

{% if products %}
<div class="container overflow-hidden text-center mt-5">
    {% for product in products %}
    {% with product.device_set.all as devices %}
    <table class="table caption-top">
        <tbody>
            <tr>
                <td>
                    <a href="{% url 'project:product-detail' product.slug %}">{{ product.project }}</a>
                </td>
                <td>{{ product.company }}</td>
                <td>{{ product.crm_id }}</td>
                <td>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            {% translate 'Termo date' %}
                        </button>
                        <ul class="dropdown-menu">
                            {% if devices %}
                            {% for devic in devices %}
                            <li>
                                <a class="dropdown-item" href="#">
                                    {% if devic.termodate %}{{ devic }}{% else %}{% endif %}
                                </a>
                            </li>
                            {% endfor %}
                            {% else %}
                            <li>
                                <span class="dropdown-item">
                                    {% translate 'not date' %}
                                </span>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    {% endwith %}
    {% endfor %}
</div>
{% else %}
{% endif %}

{% endblock %}