{% extends 'base/base.html' %}
{% load i18n static %}

<!-- Хлебные крошки -->
{% block breadcrumbs %}
<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'project:index' %}">Главная</a></li>
        <li class="breadcrumb-item active " aria-current="page">{{ product.project }}</li>
    </ol>
</nav>
{% endblock %}

{% block content %}

<div class="container">
    <div class="flex instr-header">
        <h2>{{ product.project }}</h2>
        <div class="flex instr-title">
            {% if user.is_staff %}
            <a class="btn btn-secondary px-4" href="{% url 'project:device-create' product.slug %}">Добавить устройство</a>
            {% endif %}
        </div>
    </div>
    {% with product.device_set.all as devices %}
    {% if devices %}
    <table class="table table-light table-hover">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Устройство</th>
                <th scope="col">Серийный №</th>
                <th scope="col">Протокол</th>
                <th scope="col">Т °С</th>
                <th scope="col">Настройки</th>
            </tr>
        </thead>
        {% for device in product.device_set.all %}
        <tbody>
            <tr>
                <th scope="row">{{ product.crm_id }}</th>
                <td>
                    <a class="project-link" href="{% url 'project:device-detail' device.slug %}">{{ device.name }}</a>
                </td>
                <td>{{ device.serial_num }}</td>
                <td>{{ device.network_id.first }}</td>
                <td>{% if device.termodate %}
                    <img data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip"
                        title="Термомонитооринг есть" src="{% static 'access/icon/check-yes.png' %}" width="25px"
                        alt="Есть">
                    {% else %}
                    <img data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip"
                        title="Термомонитооринга нет" src="{% static 'access/icon/check-no.jpg' %}" width="25px"
                        alt="Нет">
                    {% endif %}
                </td>
                <td>
                    <div class="flex termo-check" data-bs-toggle="tooltip" data-bs-placement="top"
                        data-bs-custom-class="custom-tooltip" title="Сетевые настройки">
                        <a href="{% url 'project:device-detail' device.slug %}">
                            <img src="{% static 'access/icon/settings.svg' %}" width="25px" alt="">
                        </a>
                    </div>
                </td>
            </tr>
        </tbody>
        {% endfor %}
    </table>
    {% else %}
        {% include 'base/empty_data.html' %}
    {% endif %}
    {% endwith %}
</div>

{% endblock %}


<div class="container text-center">
    <div class="row">
        <div class="col">
            {{ product.device_set.all }}
        </div>
        {% for device in product.device_set.all %}
        <div class="col">
            <!-- {{ device.network_id.first }} -->
        </div>
        <div class="col">
            {{ device.devices_settings.first.slave_id }}
            {{ device.devices_settings.first.speed }}:
            {{ device.devices_settings.first.paritet }}/
            {{ device.devices_settings.first.bit }}/
            {{ device.devices_settings.first.stop_bit }}
        </div>
        {% endfor %}
    </div>
</div>