{% extends 'base/base.html' %}
{% load i18n static %}
{% load devices_tag %}

{% block content %}

{% if products %}
<div class="container overflow-hidden text-center mt-5">
    <table class="table caption-top">
        <thead class="table-light">
            <tr>
                <th scope="col">Проект</th>
                <th scope="col">Объект</th>
                <th scope="col">ID CRM</th>
                <th scope="col">Устройства</th>
                <th scope="col">Термомониторинг</th>
            </tr>
        </thead>
        {% for product in products %}
        {% with product.device_set.all as devices %}
        <tbody>
            <tr>
                <td>
                    <a href="{% url 'project:product-detail' product.slug %}">{{ product.project }}</a>
                </td>
                <td>{{ product.company }}</td>
                <td>{{ product.crm_id }}</td>
                <td>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle termo" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            {% translate 'Termo date' %}
                        </button>
                        <ul class="dropdown-menu">
                            {% if devices %}
                            {% for devic in devices %}
                            <li>
                                <a class="dropdown-item" href="#">
                                    {% if devic.termodate %}{{ devic }}{% else %}{% endif %}
                                </a>
                            </li>
                            {% endfor %}
                            {% else %}
                            <li>
                                <span class="dropdown-item">
                                    {% translate 'not date' %}
                                </span>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </td>
                <td>
                    {% termo_date devices as termo %}
                    {% if termo %}
                    <div class="flex termo-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckCheckedDisabled" checked disabled>
                        <label class="form-check-label" for="flexCheckCheckedDisabled">
                        </label>
                      </div>
                    {% endif %}
                </td>
            </tr>
        </tbody>
        {% endwith %}
        {% endfor %}
    </table>
</div>
{% else %}
{% endif %}

{% endblock %}