{% extends 'base/base.html' %}
{% load i18n static %}
{% load devices_tag filters_tag %}

<!-- Хлебные крошки -->
{% block breadcrumbs %}
<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'project:index' %}">Главная</a></li>
        <li class="breadcrumb-item active " aria-current="page">Поиск</li>
    </ol>
</nav>
{% endblock %}

{% block content %}
    <div class="container">
        <h2>{{ title }}</h2>
        {% if searches %}
            {% with searches|first as search %}
                {% if search|isinst:"InstructionFile" %}    
                    {% with searches as instructions %}
                        {% include 'documents/base_instruction.html' %}
                    {% endwith %}
                {% else %}            
                    {% with searches as products %}
                        {% include 'product/base_product.html' %}
                    {% endwith %}
                {% endif %}
            {% endwith %}
        {% else %}
            {% include 'product/not_found.html' %}
        {% endif %}
    </div>
{% endblock %}