{% extends 'base/base.html' %}
{% load i18n static %}
{% load devices_tag %}

<!-- Хлебные крошки -->
{% block breadcrumbs %}
<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'project:index' %}">Главная</a></li>
        <li class="breadcrumb-item active " aria-current="page">Поиск</li>
    </ol>
</nav>
{% endblock %}

{% block content %}
    <div class="container"><h2>{{ title }}</h2></div>
    {% with searches as products %}
        {% if products %}
            {% include 'product/base_product.html' %}
    {% else %}
    {% endif %}

    {% endwith %}
{% endblock %}