{% extends 'base/base.html' %}
{% load i18n static %}

{% block content %}
    <div class="auth-content"></div>
    <div class="container wrapper">
        <div class="signin-form">
            <div class="modal-header auth-header">
                <div>
                    <div class="btn-icon-close">
                        <h2 class="modal-title auth-title">{{ title }}</h2>
                        <a style="padding: 15px" href="{% url 'project:index' %}" type="button"
                           class="btn-close position-absolute top-0 end-0"></a>
                    </div>
                </div>
                <h5 class="modal-title auth-title-help">Представьтесь, пожалуйста!</h5>
            </div>
            <form method="post" class="form-auth" novalidate>
                {% csrf_token %}
                <div class="form-group">
                    {% for field in form %}
                        <label for="{{ field.id_for_label }}" class="form-label">{{ field.label_tag }}</label>
                        <p>{{ field }}</p>
                        {% if field.errors %}
                            {% for error in field.errors %}
                                <div class="alert alert-danger">
                                    {{ error }}
                                </div>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="flex form-footer">
                    <button class="btn btn-primary">За регистрироваться</button>
                    <div class="form-help">
                        <a href="{% url 'users:login' %}" type="submit" class="btn btn-primary">Авторизации</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}