{% extends 'base/base.html' %}
{% load i18n static %}

<!-- Хлебные крошки -->
{% block breadcrumbs %}
<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'project:index' %}">Главная</a></li>
        <!-- <li class="breadcrumb-item active " aria-current="page"><a href="{% url 'project:brand-list' %}">Brand</a></li> -->
        <li class="breadcrumb-item active " aria-current="page">{{ title }}</li>
    </ol>
</nav>
{% endblock %}

{% block content %}
<div class="container">
    <div class="flex instr-header">
        <h2>{{ title }}</h2>
        <div class="flex instr-title">
            <a class="btn btn-primary px-4" href="{% url 'project:instruction-add' %}">Добавить</a>
            <a class="btn btn-primary px-4 ms-2" href="">Редактировать</a>
        </div>
    </div>
    <div class="row">
        <table class="table table-light table-hover gy-5">
            <thead>
                <tr>
                    <th scope="col">Бренд</th>
                    <th scope="col">Имя устройства</th>
                    <th scope="col">Название инструкции</th>
                </tr>
            </thead>
            {% for instruction in instructions %}
            <tbody>
                <tr>
                    <td>{{ instruction.brand_id.name }}</td>
                    <td>{{ instruction.device_id.name }}</td>
                    <td>
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle termo" type="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                {{ instruction.name }}
                            </button>
                            <ul class="dropdown-menu">
                                {% if user.is_staff %}
                                <li><a class="dropdown-item" href="{{ instruction.docs.url }}" download="">Скачать</a>
                                </li>
                                <li><a class="dropdown-item" href="{{ instruction.docs.url }}"
                                        target="_blank">Читать</a></li>
                                {% else %}
                                <li><span class="dropdown-item">Скачать</span></li>
                                <li><span class="dropdown-item">Читать</span></li>
                                {% endif %}
                            </ul>
                        </div>
                    </td>
                </tr>
            </tbody>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}